.m-guides {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  header {
    background: #b2000c;
    height: .44rem;
    ul {
      width: 100%;
      @include flexbox();
      color: white;
      li:not(:nth-child(2)) {
        width: .44rem;
        line-height: .44rem;
        text-align: center;
        font-size: .2rem;
        color: rgba(255,255,255, 0.8);
        img{
          width: .19rem;
          height: .19rem;
        }
      }
      li:nth-child(2) {
        @include flex();
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

      }
    }
  }
  section{
    width: 100%;
    height: 100%;
    >ul{
      width: 100%;
      height: .80rem;
      margin-top: .34rem;
      background: white;
      li{
        @include flexbox();
          padding-left:.2rem;
          text-align: center;
          line-height: .34rem;
        input{
          @include flex(6);
        // width: 60%;
        height: .40rem;
        background: white;
        line-height: .5rem;
        border: 0;
        padding-left:.5rem;
        }
     &:nth-child(1){
       border-top: 1px solid #d8d8d8;
       input{
       border-bottom: 1px solid #d8d8d8;
       }

     }
     &:nth-child(2){
        border-bottom: 1px solid #d8d8d8;

     }
     &:nth-child(3){
       margin-top: .25rem;
      width: 90%;
      height: .34rem;
      button{
          width: 100%;
      background: #b2000c;
      border-radius: 5px;
      color:white;
      border: 0;
            }

     }
     &:nth-child(4){
       padding:0;
       width: 100%;
       margin-top: .25rem;
      height: .34rem;
      p{
        @include flex(1);
      }

     }
     &:nth-child(5){
       padding:0;
       width: 100%;
       margin-top: .25rem;
      height: .34rem;
      @include justify-content(center);
      button{
          width: 40%;
      background: white;
      border-radius: 5px;
      color:#b2000c;
      border: 1px solid #b2000c;
            }

     }
      }

    }
  }

  }
